body {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

footer {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.container {
  text-align: center;
  display: block;
}

.atualinfo {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  border: 2px solid #cdac81;
  box-shadow: 5px 5px #e7e7de;
}

.container-border {
  border: 2px solid #cdac81;
  border-radius: 5px;
  padding: 10px;
  margin: 3px;
  text-align: center;
  box-shadow: 5px 5px #e7e7de;
}

.row {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.wind-temps {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: gray;
}

.hum-temps {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: gray;
}

#search {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 1% auto;
}

#current-button {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  color: gray;
  text-align: center;
  margin: 1% auto;
}

#search-button {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  color: gray;
  text-align: center;
  margin: 0% auto;
}

#forecast-button {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  color: gray;
  text-align: center;
  margin: 0% auto;
}

#celsius-link {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: gray;
  text-decoration: none;
}

#fahrenheit-link {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: gray;
  text-decoration: none;
}

#forecast-info {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
