body {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  text-align: center;
  display: block;
}

#search {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0% auto;
  padding: 5px;
}

#current-button {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  color: gray;
  text-align: center;
  margin: 3% auto;
  padding: 5px;
}

#celsius-link {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: gray;
}

.atualinfo {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  border: 2px solid #cdac81;
  padding: 10px;
  box-shadow: 5px 5px #e7e7de;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  padding: 5px;
}

.container-border {
  border: 2px solid #cdac81;
  border-radius: 5px;
  padding: 10px;
  margin: 6px;
  text-align: center;
  box-shadow: 5px 5px #e7e7de;
}

.row {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}

.fa-umbrella {
  font-size: 30px;
  color: purple;
}

.fa-smog {
  font-size: 30px;
  color: gray;
}

.fa-bolt {
  font-size: 30px;
  color: gold;
}

.fa-cloud-rain {
  font-size: 30px;
  color: aqua;
}

.fa-cloud-sun {
  font-size: 30px;
  color: orange;
}

.fa-cloud {
  font-size: 30px;
  color: whitesmoke;
}

footer {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
